 div:hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 form :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 a :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 button :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 input :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 table :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 ul :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 li :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 p :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 span :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
 h1,h2,h3,h4,h5,h6 :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }
pre :hover
 {
     background-color:rgba(33, 150, 243, 0.68);
 }