<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加htmlurl</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/css3-dropdown-menu-icon/css/style.css">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/addurl.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/addurl.css">
</head>
<body onload="test()">
    <input type="hidden" id="detailwuss" value="" wuss="" name="spider_guide">
    <wuss id="wuss" class="mydiv" style="left:0px;top: 20px;">
        <wuss id="wuss0">
{#            需要添加的url #}
            <form action="/add_url/" method="post" id="wuss1" >
                <table id="wuss2">
                    <tr>
                        <th width="100px"></th>
                        <th width="300px"></th>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span class="edit_url_span color" id="wuss4">url:</span></td>
                        <td><input type="text" name="url" onchange="urlchange()" id="urlpart" value="{{ url }}" required/><br/></td>
                    </tr>
                    <tr>
                        <td><span class="edit_url_span color" id="wuss5">标题:</span></td>
                        <td><input type="text" name="title" required/><br/></td>
                    </tr>
                    <tr>
                        <td><span class="edit_url_span color" id="wuss6" >更新频率:</span></td>
                        <td><input type="text"size="1" name="update_fq "onblur="checktime(this)" onclick="hiddenchecktime(this)" required/>天一次<br/></td>
                    </tr>
                    <tr>
                        <td><span class="edit_url_span color" id="wuss7">是否跟踪:</span></td>
                        <td>
                            <input type="radio" name="track_status" value="True" checked style="margin: 0px"><span class="color">是</span>
                            <input type="radio" name="track_status" value="False" checked style="margin: 0px"><span class="color">否</span> <br/>
                        </td>
                    </tr>
                </table>
                <br>
                <table id="wuss3">
                    <tr>
                        <td width="140px"></td>
                        <td width="80px"><a href="/../urlmanagement/" class="btn">返回</a> </td>
                        <td><input type="submit" value="确认添加" class="btn" id="onlyyes" disabled="disabled"></td>
                    </tr>
                </table>
            </form>
            <div class="popover fade right in" style="top: 75px; left: 327px; " id="wuss8">
                <div class="arrow" id="wuss9"></div>
                <h3 class="popover-title" id="wuss10">提示</h3>
                <div class="popover-content" id="wuss11">请输入正确的更新频率</div>
            </div>
        </wuss>
    </wuss>
    {{ htmlurl|safe }}

</body>
<script>
    var posX;
    var posY;
    fwuss = document.getElementById("wuss");
    fwuss.onmousedown=function(e){
        posX = event.x - fwuss.offsetLeft;
        posY = event.y - fwuss.offsetTop;
        document.onmousemove = mousemove;
    }
    document.onmouseup = function()
    {
        document.onmousemove = null;
    }
    function mousemove(ev)
    {
        if(ev==null) ev = window.event;//IE
        fwuss.style.left = (ev.clientX - posX) + "px";
        fwuss.style.top = (ev.clientY - posY) + "px";
    }
    function checktime(time){
        str=time.value;
        mydiv=$("#wuss8");
        btn=$("#onlyyes")[0];
        var re=/^([0-9]){1,3}$/;
        if (re.test(str)){
            btn.disabled="";
        }
        else{
            mydiv[0].style.display="block";
            btn.disabled="disable";
        }
    }
    function hiddenchecktime(time){
        mydiv=$("#timejudge");
        mydiv[0].style.display="";
    }
</script>
<style>
    .mydiv{
{#        left:0px;#}
        position: fixed;
        width: 434px;
        height: 206px;
        z-index: 1000;
{#        top:20px;#}
        background: rgba(0, 0, 0, 0.73);
    }
    .color{
        color: white;
        right: 0px;
    }
</style>

</html>