<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <span style="color: rgb(255, 0, 0);"><b>您好:{{ username }}，WUSS向您推送{{ url.last_check_time }}订阅的内容：;</b></span>
    {% for url in  urls%}
        <h2>{{ url.title }}</h2>
        {% for item in url.items %}
            <ul>
                <li>题目：{{ item.title }}</li>
                <li>链接: <a href="{{ item.link }}">{{ item.link }}</a></li>
                <li>发布日期：{{ pubDate }}</li>
                <li>作者：{{ item.author }}</li>
                <li>内容简介：<br/>
                    {{ item.description }}
                </li>
            </ul>
        {% endfor %}
    {% endfor %}

</body>
</html>