<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<title>用户注册</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
    <!-- <script src="/static/js/CheckRegister.js"></script> -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src="/static/js/myjs.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/css3-dropdown-menu-icon/css/style.css">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/addurl.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/addurl.css">
</head>
<body>
<div style="top: 50%;
			position: absolute;
		    margin: 0 auto;
		    left: 50%;
		    margin-left: -300px;
		    margin-top: -200px;">
	<div class="Menu_register">
		<h1>注册新用户</h1>
		<form class="form-horizontal" action = "../Register/" method="post"style="top: 96px;position: absolute;">
            <div style="left:50px;">
                <div class="control-group">
                    <div style="margin-top:20px ">
                        <img src="/static/img/adm.png" class="adm">
                        <input type="text" id="inputName" placeholder="UserName" required name='idname' onblur="checktime1(this)" onclick="hiddenchecktime1(this)" onchange="changede()">
                        <input type="button" onclick="judgeforexisting(this)" id="btnname" value="查看用户是否存在" class="submit">
                    </div>
                </div>

                <div class="control-group">
                    <img src="/static/img/adm.png" class="adm">
                    <input type="text" id="inputEmail" placeholder="Email" required name='idemail'onblur="checktime2(this)" onclick="hiddenchecktime2(this)" onchange="changede()">
                    <input type="button" onclick="judgeforemail(this)" value="查看邮箱是否注册" id="btnemail" class="submit">
                </div>

                <div class="control-group">
                    <img src="/static/img/key.png" class="key">
                    <input type="password" onblur="checktime3(this)" onclick="hiddenchecktime3(this)" id="inputPassword" placeholder="Password" required name='idpassword' onchange="changede()">
                </div>

                <div class="control-group">
                    <img src="/static/img/key.png" class="key">
                    <input type="password" onblur="checktime4(this)" onclick="hiddenchecktime4(this)" id="inputPasswordAgain" placeholder="Password Again" required name='idpasswordagain' onchange="changede()">
                </div>
            </div>
            <div style="left: 40px;position: relative;">
                <input type="submit"  value="Create Account" class="submit" id="onlyyes" disabled="disabled" number=0>
            </div>
            <div>
                <a href="/" style="float: left;left: 40px;top:30px">Back</a>
            </div>
		</form>
	</div>
    <div class="popover fade right in" style="top: 70px; left: 263px;"display="" id="wuss1" yes="no">
        <div class="arrow"></div>
        <h3 class="popover-title">提示</h3>
        <div class="popover-content">用户名最长为20个字符由英文字母和数字组成</div>
    </div>
		<div class="popover fade right in" style="top: 122px; left: 263px;"display="" id="wuss2" yes="no">
        <div class="arrow"></div>
        <h3 class="popover-title">提示</h3>
        <div class="popover-content">请输入正确的邮箱格式例如:user@host.domainnames</div>
    </div>
		<div class="popover fade right in" style="top: 173px; left: 263px;"display="" id="wuss3" yes="no">
        <div class="arrow"></div>
        <h3 class="popover-title">提示</h3>
        <div class="popover-content">密码由最多14位数字或英文组成</div>
    </div>
		<div class="popover fade right in" style="top: 223px; left: 263px;"display="" id="wuss4" yes="no">
        <div class="arrow"></div>
        <h3 class="popover-title">提示</h3>
        <div class="popover-content">两次输入密码不相同</div>
    </div>
</div>
<script>



</script>

</body>
</html>
