<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<title>用户注册</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
    <script src="/static/js/CheckRegister.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
    <script src="/static/js/myjs.js"></script>
</head>
<body>
<div style="top: 50%;
			position: absolute;
		    margin: 0 auto;
		    left: 50%;
		    margin-left: -300px;
		    margin-top: -200px;">
	<div class="Menu_register">
		<h1>New Account</h1>
		<form class="form-horizontal" action = "../Register/" method="post">
            <div style="left:50px;">
                <div class="control-group">
                    <div style="margin-top:20px ">
                        <img src="/static/img/adm.png" class="adm">
                        <input type="text" id="inputName" placeholder="UserName" required name='idname' ><span></span>
                        <input type="button" onclick="judgeforexisting(this)" id="btnname" value="查看用户是否存在">
                    </div>
                </div>

                <div class="control-group">
                    <img src="/static/img/adm.png" class="adm">
                    <input type="text" id="inputEmail" placeholder="Email" required name='idemail'><span></span>
                    <input type="button" onclick="judgeforemail(this)" value="查看邮箱是否注册" id="btnemail">
                </div>

                <div class="control-group">
                    <img src="/static/img/key.png" class="key">
                    <input type="password" id="inputPassword" placeholder="Password" required name='idpassword'><span></span>
                </div>

                <div class="control-group">
                    <img src="/static/img/key.png" class="key">
                    <input type="password" id="inputPasswordAgain" placeholder="Password Again" required name='idpasswordagain'><span></span>
                </div>
            </div>
            <div style="left: 40px;position: relative;">
                <input type="submit"  value="Create Account" class="submit">
            </div>
            <div>
                <a href="/HomePage" style="float: left;left: 40px;top:30px">Back</a>
            </div>
		</form>
	</div>
</div>
</body>
</html>
