<style>
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: underline;
    }
</style>
<table border="0" cellpadding="0" cellspacing="0" width="600px" align="center">
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
									<td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 34px;" align="center">
										<b>WUSS网页更新订阅推送</b>
									</td>
								</tr>
								<tr>
									<td style="background-color: #ee4c50;padding: 20px 0 30px 0; color: #ffffff; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;" >
									    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好:{{ username }}，以下内容是我们根据您的url订阅而提供的更新提醒，我们所提供的是截止到{{ now }}前,所有您订阅的网站发生变化的网页信息，若是想查看更多详情，请登录
                                        <a href="" style="color:blue">本站</a>。谢谢您对我们的支持！
                                    </td>
								</tr>
                            </table>
                        </td>
                    </tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">

                            <tr>
                                <td>
                                    <hr>
                                </td>
                            </tr>
                            {#RSSURL推送#}
                            {% if RSSurls%}
                                <tr>
                                <td><h1>RSS订阅</h1></td>
                                </tr>

                            {% for url in  RSSurls%}
                                <tr>
                                    <td><h2>题目：{{ url.title }}</h2>(更新时间截止{{ url.last_check_time }})</td>
                                </tr>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;border: dashed 1px gray;padding: 5px;">
                                            {% for item in url.items %}
                                            <tr>
                                                <td><span><img src="http://today.hit.edu.cn/images2010/ic2.gif" alt=""></span><a href="{{ item.link }}" style=""><b>{{ item.title}}...</b></a>
                                                <span style="color:gray">--{{ item.pubDate }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 230px;word-wrap:break-word;word-break:break-all;">
                                                    <div class="wuss-description">

                                                    </div>
                                                </td>
											</tr>
                                            <tr>
                                                <td><hr></td>
                                            </tr>
                                            {% endfor %}
										</table>
									</td>
								</tr>
                            {% endfor %}
                            {% endif %}

                            {#普通url推送#}
                            {% if urls%}
                                <tr>
                                <td><h1>其他订阅</h1></td>
                                </tr>

                            {% for url in  urls%}
                                <tr>
                                    <td><h2>题目：{{ url.title }}</h2>(更新时间截止{{ url.last_check_time }})</td>
                                </tr>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;border: dashed 1px gray;padding: 5px;">
                                            {% for item in url.items %}
                                            <tr>
                                                <td>
                                                    <b>订阅区域已更新：</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ item.html_content|safe }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><hr></td>
                                            </tr>
                                            {% endfor %}
										</table>
									</td>
								</tr>
                            {% endfor %}
                            {% endif %}
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
										&reg; 推送由WUSS提供<br/>
										<a href="#" style="color: #ffffff;"><font color="#ffffff">主页</font></a> 进入主页查看更多订阅信息
									</td>

								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
</table>