<table border="0" cellpadding="0" cellspacing="0" width="600px">
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<img src="/static/img/images/h1.gif" alt="Creating Email Magic" width="300" height="230" style="display: block;" />
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>感谢使用由WUSS提供的网页更新订阅系统</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
									    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好:{{ username }}，以下内容是我们根据您的url订阅而提供的更新提醒，我们所提供的是截止到20：00前所发生变化的网页信息，若是想查看更多详情，请登录127.0.0.0:8000。谢谢您对我们的支持
                                    </td>
								</tr>
                            {% for url in  urls%}
                                <tr>
                                    <td><b>{{ url.title }}</b>(更新时间截止{{ url.last_check_time }})</td>
                                </tr>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;">
                                            {% for item in url.items %}
                                            <tr>
                                                <td><a href="{{ item.link }}"><b>{{ item.title }}  {{ item.pubDate }}</b></a></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 230px;word-wrap:break-word;word-break:break-all;">
                                                    <div class="wuss-description"></div>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.description|safe }}
                                                </td>
											</tr>
                                            <tr>
                                                <td><hr></td>
                                            </tr>
                                            {% endfor %}
										</table>
									</td>
								</tr>
                            {% endfor %}
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
										&reg; 推送由WUSS提供<br/>
										<a href="#" style="color: #ffffff;"><font color="#ffffff">主页</font></a> 进入主页查看更多订阅信息
									</td>

								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
</table>