This XML file does not appear to have any style information associated with it. The document tree is shown below.
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:admin="http://webns.net/mvcb/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" version="2.0">
<channel>
<title>哈尔滨工业大学综合信息服务网</title>
<link>http://news.hit.edu.cn</link>
<description>哈尔滨工业大学综合信息服务网</description>
<dc:language>zh-cn</dc:language>
<dc:creator>fdy,gebi</dc:creator>
<dc:date>2005-05-14T21:35:35Z</dc:date>
<item>
<title>土木工程学院组织教工活动日</title>
<link>http://today.hit.edu.cn/2007/01-30/01112531.htm</link>
<description>
<![CDATA[
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2007年1月20日下午，土木工程学院工会组织了教工活动日，忙碌了一年的教职工欢聚一堂，通过棋牌、球类、游泳、游戏等活动促进了了解，加强了感情的交流。学院还为60岁以上的整旬老人
]]>
</description>
<guid isPermaLink="false">http://today.hit.edu.cn/2007/01-30/01112531.htm</guid>
<dc:subject>院系快讯</dc:subject>
<dc:date>2007-1-30 11:25:31</dc:date>
</item>
<item>
<title>土木工程学院召开年终总结大会</title>
<link>http://today.hit.edu.cn/2007/01-30/01112244.htm</link>
<description>
<![CDATA[
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp; 2007年1月20日下午，土木工程学院在三楼报告厅召开了年终总结大会，院长邹超英对学院2006年在教学、科研、学科建设、师资队伍、人才培养、学生工作以及本科教学评估等方面取得
]]>
</description>
<guid isPermaLink="false">http://today.hit.edu.cn/2007/01-30/01112244.htm</guid>
<dc:subject>院系快讯</dc:subject>
<dc:date>2007-1-30 11:22:44</dc:date>
</item>
<item>
<title>杜善义院士参加浙大航空航天学院成立庆祝活动并作专题学术报告</title>
<link>http://today.hit.edu.cn/2007/01-30/01085602.htm</link>
<description>
<![CDATA[
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2007年1月21日，浙江大学航空航天学院成立的当天下午，浙江大学航空航天学院院长沈荣骏在主持召开了该学院发展战略研讨会，中国航天科技集团张履谦院士、中国空气动力研究与发展中心乐嘉陵院士、哈尔滨工业大学
]]>
</description>
<guid isPermaLink="false">http://today.hit.edu.cn/2007/01-30/01085602.htm</guid>
<dc:subject>媒体工大</dc:subject>
<dc:date>2007-1-30 8:56:02</dc:date>
</item>
</channel>
</rss>