<ul class="nav nav-tabs mypublic_navigation" style="position:absolute;width: 100%" >
    <li >
        <a href="/">首页</a>
    </li>
    <li>
        <a href="/homepage">推荐url</a>
    </li>
{#    <li class="dropdown pull-right">#}
{#        <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>#}
{#        <ul class="dropdown-menu">#}
{#            <li>#}
{#                <a href="#"></a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"></a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">更多设置</a>#}
{#            </li>#}
{#            <li class="divider">#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">分割线</a>#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}

    {% if user_is_logic == "YES" %}
    <li class="dropdown pull-right">
        <a href="/logout">安全登出</a>
    </li>
    {% endif %}
    <li class="dropdown pull-right">
        <a href="/Userjudge">{{ user }}</a>

    </li>
</ul>