<ul class="nav nav-tabs mypublic_navigation" style="margin-bottom: 50px;" >
    <li >
        <a href="/">首页</a>
    </li>
    <li>
        <a href="#">推荐url</a>
    </li>
    <li class="dropdown pull-right">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
        <ul class="dropdown-menu">
            <li>
                <a href="/send_email">发送邮箱1</a>
            </li>
            <li>
                <a href="/sendmail">发送邮件2</a>
            </li>
            <li>
                <a href="#">更多设置</a>
            </li>
            <li class="divider">
            </li>
            <li>
                <a href="#">分割线</a>
            </li>
        </ul>
    </li>

    {% if user_is_logic == "YES" %}
    <li class="dropdown pull-right">
        <a href="/logout">安全登出</a>
    </li>
    {% endif %}
    <li class="dropdown pull-right">
        <a href="/Userjudge">{{ user }}</a>

    </li>
</ul>