<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL管理</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号管理</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/public.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/css3-dropdown-menu-icon/css/style.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'top1.html' %}

    <div class="navcontrol">
        <div class="navbar">
            <div class="navbar-inner">
                {% include 'userhomepage_nav1.html' %}
            </div>
        </div>
    </div>

    <div class="usermain">
        <div class="usermain_right_mainboard_for_URL" style="color: white;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="urltable">
                <tr>
                    <th>URL管理</th>
                </tr>
                <tr>
                    <td><hr></td>
                </tr>
                <tr>
                    <td>
                        <table class="urltable">
                            {% for i in urls %}
                            <tr>
                                <td>URL地址:{{ i.url }}</td>
                                <td> URL名称:{{ i.title }}</td>
                                <td>上次更新时间:{{ i.last_check_time }}</td>
                                <td width="50px">
                                    <a href="/edit_find/{{ i.id }}">
                                        编辑
                                    </a>
                                </td>
                                <td width="50px">
                                    <a href="delete_url/{{ i.id }}/">
                                        删除
                                    </a>
                                </td>

                            </tr>
                            <tr><td><hr></td><td><hr></td><td><hr></td><td><hr></td><td><hr></td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>