<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL管理</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号管理</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/public.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/css3-dropdown-menu-icon/css/style.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bodypublic">
    {% include 'top1.html' %}

{#    <a href="#" onclick="showPopup();" >Open popup</a>#}
    <div class="navcontrol">
        <div class="navbar">
            <div class="navbar-inner">
                {% include 'userhomepage_nav1.html' %}
            </div>
        </div>
    </div>

    <div class="usermain">
        <div class="usermain_right_mainboard_for_URL" style="color: white;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="urltable">
                <tr>
                    <th>URL管理</th>
                    <th><a href="javascript:showPopup()"style="color: mediumspringgreen;">添加新的URL</a></th>
                </tr>
                <tr>
                    <td><hr></td>
                    <td><hr></td>
                </tr>
                <tr>
                    <td>
                        <table class="urltable">
                            {% for i in urls %}
                            <tr>
                                <td>URL地址:{{ i.url }}</td>
                                <td> URL名称:{{ i.title }}</td>
                                <td>上次更新时间:{{ i.last_check_time }}</td>
                                <td width="50px">
                                    <a href="/edit_find/{{ i.id }}" style="color: mediumspringgreen;">
                                        编辑
                                    </a>
                                </td>
                                <td width="50px">
                                    <a href="/delete_url/{{ i.id }}"style="color: mediumspringgreen;">
                                        删除
                                    </a>
                                </td>

                            </tr>
                            <tr><td><hr></td><td><hr></td><td><hr></td><td><hr></td><td><hr></td></tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="popupcontent" class="myalert">
        <div class="row-fluid">
            <div class="span12">
                <p >请选择添加的方式：</p>
            </div>
            <div class="span12">
                <p style="text-align: center">RSS订阅为.xml格式；HTML订阅为正常网页格式</p>
            </div>
        </div>
        <br><br><br><br>
        <div class="row-fluid">
            <div class="mydiv span4 "><input type="button" class="btn btn-info myinput" style="width: 120px" value="RSS订阅方式" onclick="linkRSS()"></div>
            <div class="mydiv span4 "><input type="button" class="btn btn-info myinput" style="width: 120px" value="取消" onclick="hidePopup()"></div>
            <div class="mydiv span4 "><input type="button" class="btn btn-info myinput" style="width: 120px" value="HTML订阅方式" onclick="linkHTML()"></div>
        </div>
    </div>
    <script src="/static/js/addurl.js"></script>
    <style>
        #popupcontent{
            position: absolute;
            visibility: hidden;
            overflow: hidden;
            border:1px solid #CCC;
            background-color:#F9F9F9;
            border:1px solid #333;
            padding:5px;
        }
        .mydiv{
            position: relative;
        }
        .myinput{
            position: absolute;
        }
        .myalert{
            top:160px;
            left:-210px;
            margin-left: 50%;
            width: 410px;
            height: 200px;
            position: absolute;
            z-index: 1;

        }
    </style>

</body>
</html>