<ul class="nav">
    {% if chooise == 1 %}
    <li class="active"><a href="/./userhomepage">我的账户</a></li>
    <li class="divider-vertical"></li>
    <li><a href="/./usermanagement/">账户管理</a></li>
    <li class="divider-vertical"></li>
    <li><a href="/./urlmanagement/">URL管理</a></li>
    {% elif chooise == 2 %}
    <li><a href="/./userhomepage">我的账户</a></li>
    <li class="divider-vertical"></li>
    <li class="active"><a href="/./usermanagement/">账户管理</a></li>
    <li class="divider-vertical"></li>
    <li><a href="/./urlmanagement">URL管理</a></li>
    {% else %}
    <li><a href="/./userhomepage">我的账户</a></li>
    <li class="divider-vertical"></li>
    <li><a href="/./usermanagement/">账户管理</a></li>
    <li class="divider-vertical"></li>
    <li class="active"><a href="/./urlmanagement">URL管理</a></li>
    {% endif %}
</ul>