<div class="accordion" id="accordion2">
  <div class="accordion-group">
      <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              订阅名称1
          </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
              更新内容
          </div>
      </div>
  </div>
  <div class="accordion-group">
      <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              订阅名称2
          </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
              更新内容
          </div>
      </div>
  </div>
</div>
