<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user }}的主页</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/public.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    {% include 'top1.html' %}
    {% include 'left_show1.html' %}
    <div class="mypublic_main_show" style="border: 1px solid red">
        <div class="mypublic_main_show1"  style="border: 1px solid yellow">
            <div class="navbar">
                <div class="navbar-inner">
                    {% include 'userhomepage_nav1.html' %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>