<div class="menu__body">
    {% if chooise_user_left_nav == 1 %}
    <ul class="nav">
        <li class="nav__item">
            <a href="/usermanagement" class="nav__item-link is-active">
                <i class="fa fa-envelope nav__item-icon"></i>
                <span class="nav__item-text">账号管理</span>
            </a>
        </li>
        <li class="nav__item">
            <a href="/changeuser" class="nav__item-link">
                <i class="fa fa-flag nav__item-icon"></i>
                <span class="nav__item-text">修改密码</span>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__item-link">
                <i class="fa fa-space-shuttle nav__item-icon"></i>
                <span class="nav__item-text">修改基本信息</span>
            </a>
        </li>
    </ul>
    {% elif chooise_user_left_nav == 2 %}
    <ul class="nav">
        <li class="nav__item">
            <a href="/usermanagement" class="nav__item-link ">
                <i class="fa fa-envelope nav__item-icon"></i>
                <span class="nav__item-text">账号管理</span>
            </a>
        </li>
        <li class="nav__item">
            <a href="/changeuser" class="nav__item-link is-active" >
                <i class="fa fa-flag nav__item-icon"></i>
                <span class="nav__item-text">修改密码</span>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__item-link">
                <i class="fa fa-space-shuttle nav__item-icon"></i>
                <span class="nav__item-text">修改基本信息</span>
            </a>
        </li>
    </ul>
    {% else %}
    <ul class="nav">
        <li class="nav__item">
            <a href="/usermanagement" class="nav__item-link ">
                <i class="fa fa-envelope nav__item-icon"></i>
                <span class="nav__item-text">账号管理</span>
            </a>
        </li>
        <li class="nav__item">
            <a href="/changeuser" class="nav__item-link " >
                <i class="fa fa-flag nav__item-icon"></i>
                <span class="nav__item-text">修改密码</span>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__item-link is-active">
                <i class="fa fa-space-shuttle nav__item-icon "></i>
                <span class="nav__item-text">修改基本信息</span>
            </a>
        </li>
    </ul>
    {% endif %}
</div>