<div class="accordion" id="accordion2">
    {% for url in urls %}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a style="color:mediumturquoise;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href=#collapseOne id="generala">
                订阅名称:{{ url.title }}
            </a>
        </div>
        <div id="generalb" class="accordion-body collapse in">
        <script>
            mytest2()
        </script>
            {% for item in url.items %}
            <div class="accordion-inner">
                <a style="color: mediumspringgreen;" href={{ item.link }}> 标题:{{ item.title }} </a>
                <br>
                <br>
                <div id="general"><p>{{ item.description }}</p></div>
                <script>
                    mytest1()
                </script>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endfor %}
</div>

